
@import "style.scss";
@import "settings.scss";

.perfil-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 100px;
  transition: 280ms;
}

img.logo:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 280ms;
}

li.sobre:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  transform: translateY(-3px);
  transition: 280ms;
}

li.shop:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  transform: translateY(-3px);
  transition: 280ms;
}

li.tracker:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  transform: translateY(-3px);
  transition: 280ms;
}

li.contato:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  transform: translateY(-3px);
  transition: 280ms;
}

li.lock:hover > img.aberto {
  display: flex;
  visibility: visible;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  padding: 10px;
  animation: intro 0.7s ease-in-out;
  transition: 280ms;
}

li.lock:hover > img.fechado {
  display: none;
  visibility: hidden;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  padding: 10px;
  animation: intro2 0.7s ease-in-out;
  transition: 280ms;
}

@keyframes intro {
  from {
    filter: opacity(0%);
  }

  to {
    filter: opacity(100%);
  }
}

@keyframes intro2 {
  from {
    filter: opacity(100%);
  }

  to {
    filter: opacity(0%);
  }
}

div.app-content-section-no-video:hover {
  transition: 280ms;
}

li.escute:hover {
  letter-spacing: 2px;
  transition: 300ms;
}

li.escute:hover img.location1 {
  opacity: 1;
  transition: 300ms;
}

li.observe:hover {
  letter-spacing: 2px;
  transition: 300ms;
}

li.observe:hover img.location2 {
  opacity: 1;
  transition: 300ms;
}

li.ache:hover {
  letter-spacing: 2px;
  transition: 300ms;
}

li.ache:hover img.location3 {
  opacity: 1;
  transition: 300ms;
}

li.title-no-video:hover img.historia-icon-hover {
  width: 80px;
  display: flex;
  opacity: 1;
  transition: 300ms;
}

ul.history:hover {
  transition: 300ms;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);
  border-radius: 30px;
  scale: (1.05);
  transform: translateY(-3px);
}

img.logo-img-section-2:hover {
  rotate: 360deg;
  transition: 0.7s;
}

img.container-logo-img-section-2:hover {
  transform: scale(0.9);
  rotate: (360deg);
  transition: 500ms;
}

button.compra-oferta:hover {
  cursor: pointer;
  transition: 280ms;
}

button.compra-oferta:active {
  transform: scale(0.95);
  cursor: pointer;
  transition: 280ms;
}

li.simples:hover {
  letter-spacing: 2px;
  transition: 280ms;
}

li.pratico:hover {
  letter-spacing: 2px;
  transition: 280ms;
}

li.movil:hover {
  letter-spacing: 2px;
  transition: 280ms;
}

ul.produto > a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

ul.conta > a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

ul.sobre-nos > a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

img.product-show:hover {
  box-shadow: 6px 6px 6px rgb(66, 66, 66);
  transform: translateY(-12px);
  cursor: pointer;
  transition: 300ms;
}

button.comprar:hover {
  cursor: pointer;
  box-shadow: 0px 6px 0px rgb(66, 66, 66);
  transform: translateY(-3px);
  transition: 280ms;
}

button.comprar:active {
  transform: scale(0.95);
  cursor: pointer;
  transition: 280ms;
}

button.comprar:active {
  transform: scale(0.95);

  transition: 280ms;
}

div.volta-container:hover a.voltar {
  font-size: 1.3em;
  color: rgb(255, 255, 255);
  transition: 280ms;
}

div.volta-container:hover {
  background-color: rgb(46, 136, 255);
  transform: translateY(-3px);
  box-shadow: 0px 5px 0px black;
  width: 130px;
  height: 50px;
  transition: 280ms;
}

.perfil-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 100px;
  transition: 280ms;
}

img.logo:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 280ms;
}

li.sobre:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  transform: translateY(-3px);
  transition: 280ms;
}

li.shop:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  transform: translateY(-3px);
  transition: 280ms;
}

li.tracker:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  transform: translateY(-3px);
  transition: 280ms;
}

li.contato:hover {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 900;
  background-color: black;
  border-radius: 100px;
  padding: 10px;
  transform: translateY(-3px);
  transition: 280ms;
}

div.app-content-section-no-video:hover {
  transition: 280ms;
}

li.escute:hover {
  letter-spacing: 2px;
  transition: 300ms;
}

li.escute:hover img.location1 {
  opacity: 1;
  transition: 300ms;
}

li.observe:hover {
  letter-spacing: 2px;
  transition: 300ms;
}

li.observe:hover img.location2 {
  opacity: 1;
  transition: 300ms;
}

li.ache:hover {
  letter-spacing: 2px;
  transition: 300ms;
}

li.ache:hover img.location3 {
  opacity: 1;
  transition: 300ms;
}

li.title-no-video:hover img.historia-icon-hover {
  width: 80px;
  display: flex;
  opacity: 1;
  transition: 300ms;
}

ul.history:hover {
  transition: 300ms;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);
  border-radius: 30px;
  scale: (1.05);
  transform: translateY(-3px);
}

img.logo-img-section-2:hover {
  rotate: 360deg;
  transition: 0.7s;
}

img.container-logo-img-section-2:hover {
  transform: scale(0.9);
  rotate: (360deg);
  transition: 500ms;
}

button.compra-oferta:hover {
  cursor: pointer;
  transition: 280ms;
}

button.compra-oferta:active {
  transform: scale(0.95);
  cursor: pointer;
  transition: 280ms;
}

li.simples:hover {
  letter-spacing: 2px;
  transition: 280ms;
}

li.pratico:hover {
  letter-spacing: 2px;
  transition: 280ms;
}

li.movil:hover {
  letter-spacing: 2px;
  transition: 280ms;
}

ul.produto > a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

ul.conta > a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

ul.sobre-nos > a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

img.product-show:hover {
  box-shadow: 6px 6px 6px rgb(66, 66, 66);
  transform: translateY(-12px);
  cursor: pointer;
  transition: 300ms;
}

button.comprar:hover {
  cursor: pointer;
  box-shadow: 0px 6px 0px rgb(66, 66, 66);
  transform: translateY(-3px);
  transition: 280ms;
}

button.comprar:active {
  transform: scale(0.95);
  cursor: pointer;
  transition: 280ms;
}

button.comprar:active {
  transform: scale(0.95);

  transition: 280ms;
}

div.volta-container:hover a.voltar {
  font-size: 1.3em;
  color: rgb(255, 255, 255);
  transition: 280ms;
}

div.volta-container:hover {
  background-color: rgb(46, 136, 255);
  transform: translateY(-3px);
  box-shadow: 0px 5px 0px black;
  width: 130px;
  height: 50px;
  transition: 280ms;
}

