@import "./animation.scss";
@import "./settingscopy.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

header.topo {
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;

    padding-left: 150px;
}

img.main-page-icon{
    display: flex;
    position: relative;

    filter: invert(1);
}

header.topo > span.slogan {
    position: relative;

    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

    color: white;

    line-height: 30px;

    padding-left: 15px;

    border-left: solid 4px white;

    transition: 600ms;

    animation: 2s sloganmove ease-in-out;
}

header.topo > span.slogan:hover {
    border-left: solid 20px white;
    transition: 600ms;
}

header.topo>img.main-page-icon{
    animation: 2.1s sloganmove ease-in-out;
}

div.content-container {
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.form-container {
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form#formulario {
    width: 55%;
    height: 45vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    padding: 25px;

    border: 2px solid white;
    border-radius: 6%;

    animation: 1.8s voltalink ease-in-out;
}

//FORMULARIO-PÁGINA-ALTERA

form.form-altera{
    height: 65vh;
    animation: 2.8s voltalink ease-in-out;
}

//FORMULARIO-PÁGINA-ALTERA

input#dispid {
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: solid 2px black;
    border-top: none;
    border-left: none;
    border-right: none;
}

input#dispid:focus {
    outline: none;
}

input#name {
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: solid 2px black;
    border-top: none;
    border-left: none;
    border-right: none;
}

input#name:focus {
    outline: none;
}

label.nomelbl {
    font-size: 18px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-bottom: 60px;
}

label.nomelbl2 {
    font-size: 18px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-bottom: 60px;
}

label.dispositivolbl {
    font-size: 18px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding-bottom: 25px;
}

input.botao {
    position: relative;
    display: flex;

    width: 100%;
    height: 8vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;

    border: 0px solid black;
    border-radius: 5px;

    padding: 7px;

    background-color: white;
    color: black;

    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

input.botao:hover {
    width: 100%;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 700;
    color: rgb(255, 255, 255);
    box-shadow:
        4px 4px 0px rgb(255, 255, 255),
        8px 8px 0px rgb(0, 0, 0);
    transform: translate(-10px, -10px);
    transition: 0.3s;
}

//LINHA DE DIVISÃO

div.line-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 35%;
    transform: rotate(90deg);
    animation: 2s grow-line ease-in-out;
}

//LINHA DE DIVISÃO

//HUB-NAVEGAÇÃO

div.botoes {
    @include botoes-flex-column();
    animation: 1.8s navegarestrito ease-in-out;
}

div.botoes > a {
    line-height: 50px;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

div.delete-line {
    @include template-line();
}

div.delete-line > img.lixo {
    @include line-nothover();
}

div.delete-line:hover > img.lixo {
    @include line-hover();
}

div.delete-line > a#deletar {
    @include linelink-nothover();
}

div.delete-line:hover > a#deletar {
    color: #f40900;
    border-color: #f40900;
    @include linelink-hover();
}

div.alter-line {
    @include template-line();
}

div.alter-line > img.altera {
    @include line-nothover();
}

div.alter-line:hover > img.altera {
    @include line-hover();
}

div.alter-line > a#alterar {
    @include linelink-nothover();
}

div.alter-line:hover > a#alterar {
    color: #ffc700;
    border-color: #ffc700;
    @include linelink-hover();
}

div.vision-line {
    @include template-line();
}

div.vision-line > img.vizaoun {
    @include line-nothover();
}

div.vision-line:hover > img.vizaoun {
    @include line-hover();
}

div.vision-line > a#visao {
    @include linelink-nothover();
}

div.vision-line:hover > a#visao {
    color: #0094ff;
    border-color: #0094ff;
    @include linelink-hover();
}

//HUB-NAVEGAÇÃO

//FOOTER

footer.volte-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.volte-container > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;

    border-radius: 20px;

    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

    text-decoration: none;
    text-align: center;

    color: white;

    margin-bottom: 100px;

    animation: 2s voltalink ease-in-out;

    transition: 400ms;
}

footer.volte-container > a:hover {
    width: 100px;
    height: 35px;

    background-color: white;
    color: black;
    transition: 400ms;
}

//FOOTER